@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&family=Dosis:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

/* font-family: 'Assistant', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #f5fcff;
}

/* Header o navbar */

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(218, 224, 222);
    color: black;
}

.grid-first-level {
    width: 87%;
    border-style: none none solid none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.icono {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 35px 25px 25px 25px;
}

.icono > p {
    font-size: 18pt;
    margin-left: 10px;
}

.icono-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 35px 25px 25px 25px;
}

.icono-2 > i, .icono-2 > p, #login > i, #login > p {
    padding-left: 15px;
}

.bi-cart, .bi-person-circle {
    font-size: 17pt;
}

#login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}

#login:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: all 0.2s ease-in-out;
}

.bar-paginas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bar-paginas ul {
    list-style: none;
}

.paginas {
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}

.paginas li {
    padding: 10px 0px;
}

.paginas a {
    border-radius: 8px;
    text-decoration: none;
    color: black;
    padding: 10px 17px;
    margin-right: 20px;
}

.paginas a:hover {
    background-color: rgb(172, 187, 182);
    transition: 1s;
}

.grid-second-level {
    width: 87%;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    align-items: center;
    margin: 15px 0px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search > input {
    width: 50%;
    padding: 7px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
}

.search > button {
    border: none;
    padding: 4px;
    border-radius: 0px 6px 6px 0px;
}

.search > button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.1);
}

.bi-search {
    font-size: 15.35pt;
    margin: 10px;
}

/* Menu hamburguesa moviles */

.wrap-menu {
    display: none;
    width: 100%;
    justify-content: center;
}

.icon-menu {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 7px;
    border-radius: 5px;
    transition: all .3s ease;
}

.icon-menu i {
    font-size: 18pt;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.icon-menu:hover {
    background-color: rgb(0, 0, 0, 0.25);
    transition: all .3s ease;
}

/* Home */

.contenedor-portada {
    width: 100%;
    display: flex;
}

.portada {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgb(229, 236, 242);
}

.info-portada {
    margin-left: 7em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 35%;
    gap: 15px;
}

.info-portada h1 {
    font-size: 30pt;
}

.info-portada ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 7px 0px;
}

.info-portada a {
    text-decoration: none;
}

.badge {
    background-color: rgba(61, 117, 177, 0.9);
    color: #fff;
    padding: 6px 15px;
    border-radius: 150px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.badge:hover {
    background-color: rgb(18, 101, 190);
    transition: all 0.3s ease-in-out;
}

.img-portada {
    width: 65%;
}

.img-portada img {
    width: -webkit-fill-available;
}

.container-categorias-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px 100px;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container-categorias-productos > p {
    text-align: center;
    margin: 10px 0px;
    font-size: 20pt;
}

.categ-productos {
    display: flex;
    flex-direction: row;
}

.categ-productos i {
    font-size: 90pt;
}

.categ-productos > .celulares,
.categ-productos > .tablets,
.categ-productos > .laptops {
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.celulares:hover, .tablets:hover, .laptops:hover, .categ-productos i:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    color: rgb(173, 70, 75);
}

.container-categorias-productos a {
    text-decoration: none;
    color: black;
}

.contenedor-productos-destacados {
    margin-top: 25px;
}

.contenedor-productos-destacados > .container-cards .card-image {
    max-height: 330px;
    min-height: 330px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contenedor-productos-destacados > .container-cards .card-content {
    background: linear-gradient(to bottom left, #c0ccdf 20%, #48a6ffbd 100%);
}

.contenedor-marcas {
    
}

/* Primera sección */

.card-titulo {
    text-align: center;
}

.card-titulo h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: #3f4853;
}

.card-titulo a{

    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    color: #3f4853;
}

main {
    margin: 20px
}


.seccion-celulares, .seccion-tablets, .seccion-laptops, .seccion-sobre-nosotros, .seccion-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px 130px 30px;
}

.seccion-celulares h1, .seccion-tablets h1, .seccion-laptops h1, .seccion-sobre-nosotros h1, .seccion-contacto h1 {
    margin: 8px 0px;
    font-size: 40pt;
}

.filtros-celulares {
    margin: 13px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.filtros-tablets {
    margin: 13px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.filtros-laptops {
    margin: 13px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.resol-2, .cam-2, .memory-2, .ram-2, .procesadores-2, .grafica-2 {
    display: none;
}

.filtros-celulares > label, .filtros-tablets > label, .filtros-laptops > label {
    margin: 0px 0px 8px 5px;
    font-weight: bold;
}

#select-marca,
#select-resolucion,
#select-camara,
#select-almacenamiento,
#select-ram,
#select-gpu,
#select-procesador {
    font-size: 12pt;
    padding: 10px 8px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    background-color: rgb(245, 245, 245);   
    border-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .3s ease;
}

.select-lap {
    width: 90% !important;
}

#select-marca:hover,
#select-resolucion:hover,
#select-camara:hover,
#select-almacenamiento:hover,
#select-ram:hover,
#select-memory:hover,
#select-gpu:hover,
#select-procesador:hover {
    background-color: rgb(0, 0, 0, 0.08);
    transition: all .3s ease;
}

.container-cards {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.card-producto {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.096);
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 100%;
    margin: 15px 0px 15px;
    background-color: transparent;
}

.card-image {
    text-align: center;
    background: white;
}

.card-image > img {
    /* width: 14rem;
    height: 19rem; */
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.cimage-tablet > img {
    min-height: 240px;
    max-height: 240px;
}

.cimage-laptop > img {
    min-height: 280px;
    max-height: 280px;
}
  
.card-content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #c3d3ec 40%, #9ed0ff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.card-title {
    color: #242424;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0px;
}
  
.card-text {
    color: #242424;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 2.25rem;    
    font-weight: 400;
    text-align: center;
}

.botones-prods {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 6px;
}

.botones-prods .btn-1 {
    width: 60%;
    display: flex;
    justify-content: center;
}

.botones-prods .btn-2 {
    width: 40%;
    display: flex;
    justify-content: center;
}

.btn-card {
    text-decoration: none;
    color: #242424;
    width: 85%;
    padding: 0.8rem 0rem;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.55);
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;
    text-align: center;
}

.btn-card:hover {
    background-color: rgba(255, 255, 255, 0.30);
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.little-car {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #a2d2ff;
    align-self: flex-end;
    margin: 9px;
    border-radius: 6px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(88, 88, 88, 0.25);
    box-shadow: -1px 2px 5px 0px rgb(0, 0, 0, 0.2);
    animation: fade-out 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.little-car:hover {
    background: rgb(106, 182, 253);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.little-car i {
    font-size: 20pt;
    padding-right: 1px;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background: linear-gradient(to bottom left, rgba(136,139,139,1) 45%, rgba(202,202,202,1) 100%);
    width: 100%;
    min-width: 300px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
    width: 65%;
}

.footer-subcont-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
}

.footer-subs {
    margin-right: 5rem;
}

.footer-subs > h2 {
    margin: 0px;
}

.footer-subs > p {
    margin: 4px 0px 10px 0px;
}

.footer-subs-email {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-subs-email > input {
    border: 2px solid rgb(255, 255, 255, 0.5);
    min-height: 25px;
    font-size: 1rem;
    /* flex: 1 0 120px; */
    width: 15rem;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.footer-subs-email > input::placeholder {
    color: rgba(0, 0, 0, 0.75);
}

.footer-subs-email > button {
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255, 0.35);
    border: 2px solid rgb(255, 255, 255, 0.5);
    font-size: 1rem;
    min-width: 100px;
    min-height: 36px;
    /* flex: 1 0 80px; */
    white-space: nowrap;
    padding: 10px 12px;
    outline: none;
}

.footer-subs-email > button:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.footer-subcont-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    flex: 2 0 180px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
}

.footer-subcont-2 > section {
    min-width: 150px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 16px;
    margin-bottom: 60px;
}

.footer-logo svg {
    width: 70px;
    height: 70px;
}

.footer-subcont-2 h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}

.footer-subcont-2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-subcont-2 ul a {
    color: black;
    text-decoration: none;
}

.footer-subcont-2 ul a:hover{
    text-decoration: underline;
}

.footer-subcont-2 ul li {
    margin-bottom: 16px;
}

.footer-subcont-3 {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-subcont-3 > small {
    font-size: 16px;
    margin: 0 4px;
}

.social-networks {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-networks ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.social-networks i {
    color: black;
}

.social-networks li {
    font-size: 15pt;
    transition: all 0.3s ease-in-out;
}

.social-networks li:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
}


/* Sobre nosotros */

.seccion-sobre-nosotros > p {
    text-align: justify;
    margin: 10px 0px;
}

.container-personas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.container-person {
    background-color: #ffffff;
    margin: 28px 20px;
    box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.096);
}

.container-personas > .person1 {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.container-personas > .person2 {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.container-personas > .person3 {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.image-person {
    width: 35%;
    height: 100%;
}

.image-person > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.info-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 100%;
    padding: 0px 20px;
    gap: 17px;
}

.info-person i {
    font-size: 15pt;
    padding-right: 7px;
}

.person2 > .info-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

figcaption p {
    text-align: center;
    /* margin: 50% 0%; */
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background: linear-gradient(to bottom right, rgba(181, 193, 194, 0.95) 20%, rgba(136, 156, 187, 0.95) 100%);
}

/* Pagina producto */

.seccion-producto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px 130px 40px;
}

.container-producto {
    display: flex;
    width: 80%;
    gap: 0.4em;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}

.container-imagenes-producto {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #D8DBDD;
}

#main-slider {
    display: flex;
    justify-content: center;
}

.splide {
    width: 100%;
    display: flex;
    align-items: center;
}

.splide__track {
    text-align: center;
}

.splide__pagination__page {
    background: rgba(0, 0, 0, 0.75);
}

.splide__pagination__page.is-active {
    background: rgb(177, 175, 175);
}

.splide__list {
    height: 100%;
    align-items: center;
}

.splide__slide img {
    max-width: 100%;
}


.container-datos-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    /* height: 450px; */
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(200, 18%, 97%, 1) 41%, hsla(192, 15%, 94%, 1) 72%);
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #D8DBDD;
    padding: 16px 20px 7px;
    gap: 0.6em;
}

.container-datos-producto > p {
    font-size: 18pt;
    font-weight: bold;
}

.calification ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.calification ul i {
    font-size: 10pt;
}

.calification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.65em;
}

.calification p {
    margin-top: 1px;
}

.colores {
    display: flex;
    column-gap: 0.5em;
    flex-wrap: wrap;
}

.almacenamiento-prod-cel, .ram-prod-cel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

#select-ram, #select-memory {
    font-size: 11pt;
    padding: 5px 8px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    width: 65%;
    background-color: rgb(245, 245, 245);   
    border-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .3s ease;
}

.descripcion-corta {
    font-size: 11pt;
    display: flex;
    margin: 5px 0px;
}

.descripcion-corta ul {
    list-style: inside;
    padding: 0;
    margin: 0;
}

.descripcion-corta li {
    padding-left: 2em;
    text-indent: -1.45em;
}

.unidades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em;
}

.unidades p {
    margin-right: 0.3em;
}

.btn-cantidad {
    display: flex;
    width: 22px;
    height: 22px;
    background: #d7dbdf;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(88, 88, 88, 0.25);
    box-shadow: -1px 2px 5px 0px rgb(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.btn-cantidad:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: #7c7f81;
}

.btn-cantidad i {
    font-size: 14pt;
}

.botones-comprar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 15px 0px;
    gap: 1em;
    font-size: 11.75pt;
}

.botones-comprar .btn-1, .botones-comprar .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.btn-comprar-prods {
    text-decoration: none;
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid rgba(39, 125, 255, 0.25);
    background-color: rgba(88, 181, 231, 0.7);
    transition: all 0.3s ease;
    text-align: center;
}

.btn-comprar-prods:hover, .btn-carrito-prods:hover {
    border: 2px solid rgba(39, 125, 255, 0.35);
    background-color: rgba(88, 181, 231, 0.9);
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.btn-carrito-prods {
    text-decoration: none;
    color: black;
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid rgba(39, 125, 255, 0.25);
    background-color: rgba(88, 181, 231, 0.7);
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.btn-carrito-prods i {
    font-size: 16pt;
}


.container-caracteristicas {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 30px;
    width: 80%;
    align-self: center;
}

.container-caracteristicas h2 {
    margin-top: 40px;
}

.caracteristicas {
    margin-left: 1.2em;
}

.caracteristicas h3 {
    margin: 20px 0px 10px;
}

.caracteristicas ul {
    list-style-position: outside;
}

.especificaciones table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px 10px;
}

.especificaciones > p {
    margin-top: 15px;
    font-style: italic;
    font-weight: 600;
}

.no-th {
    display: none !important;
}

.especificaciones .title-td {
    text-align: right;
    border-left: none;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    padding: 17px 40px 17px 0px;
    font-size: 13.5pt;
}

.especificaciones .desc-td {
    border-left: 1px solid #c9c9c9;
    border-right: none;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    text-align: left;
    padding: 17px 0px 17px 40px;
    font-size: 12pt;
}
  
.especificaciones tr:nth-child(even) .title-td {
    background: linear-gradient(90deg, hsla(198, 100%, 98%, 1) 0%, hsla(192, 16%, 94%, 1) 55%);
}

.especificaciones tr:nth-child(even) .desc-td {
    background: linear-gradient(90deg, hsla(192, 16%, 94%, 1) 45%, hsla(198, 100%, 98%, 1) 100%);
}

 /* Contacto */

.seccion-contacto {
    flex-direction: row;
}

.seccion-contacto > p, .mapa > p {
    margin: 10px 0px;
    text-align: justify;
    flex-direction: row;
}

.formulario {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 25px 0px;
}

.box {
    position: relative;
    width: 55%;
    height: 775px;
    background: rgb(182, 181, 181);
    border-radius: 8px;
    overflow: hidden;
}

.formulario-contacto {
    font-family: 'Roboto', sans-serif !important;
    inset: 4px;
    position: absolute;
    background: rgb(211 211 211);
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1.25em;
}

.formulario-contacto label {
    margin: 10px 0px;
}

.formulario-contacto input, .formulario-contacto select {
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(211, 210, 210);
    border-radius: 6px;
    padding: 10px 12px;
}

.fullname {
    width: 90%;
    gap: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.inputs-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.fullname > div {
    width: 45% !important;
}

.inputs-form label {
    color: black;
}

#type-prod {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);   
    cursor: pointer;
    transition: all .3s ease;
}

#type-prod:hover {
    background-color: rgb(141, 140, 140);
    transition: all .3s ease;
}

.formulario-contacto textarea {
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(211, 210, 210);
    border-radius: 6px;
    padding: 5px;
}

.formulario-contacto .btn-enviar {
    cursor: pointer;
    width: 40%;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(184, 184, 184, 0.35);
    border: 2px solid rgba(255, 255, 255, 0.788);
    font-size: 1rem;
    min-width: 100px;
    min-height: 36px;
    white-space: nowrap;
    padding: 12px 22px;
    outline: none;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

.formulario-contacto .btn-enviar:hover {
    background-color: rgb(141, 140, 140);
    transition: all 0.3s ease-in-out;
}

.box::before{
    width: 600px;
    height: 800px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#0490ee,#0490ee,#0490ee);
    z-index: 1;
    animation: colores-circ 6s linear infinite;
}
  
.box::after {
    width: 600px;
    height: 800px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#0490ee,#0490ee,#0490ee);
    z-index: 1;
    animation: colores-circ 16s linear infinite;
    animation-delay: -6s;
}
  
.borderline:before {
    width: 600px;
    height: 800px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#cfee04,#cfee04,#cfee04);
    z-index: 1;
    animation: colores-circ 16s linear infinite;
    animation-delay: -6s;
}
  
.borderline:after {
    width: 600px;
    height: 800px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,transparent,#cfee04,#cfee04,#cfee04);
    z-index: 1;
    animation: colores-circ 6s linear infinite;
    animation-delay: -4.5s;
}
  
@keyframes colores-circ{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  

/* iframe contacto */

.mapa {
    margin: 50px 0px;
    width: 100%;
}

.mapa h2 {
    font-size: 25pt;
}

.mapa-cont {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.gmap_canvas {
    overflow:hidden;
    background:none !important;
    width: 800px;
    height: 400px;
}

.gmap_iframe {
    width: 800px !important;
    height: 400px !important;
    border: none;
}


@media screen and (min-width:0px) and (max-width: 480px) {
    /* Navbar */

    .paginas {
        display: none;
        flex-direction: column;
        animation: fade-out 0.75s ease-in-out;
    }

    .wrap-menu {
        display: flex;
    }

    .bar-paginas {
        display: flex;
        justify-content: center;
    }

    .grid-second-level {
        grid-template-columns: 1fr;
        grid-gap: 0.8rem;
        margin: 10px 0px;
    }

    .search {
        justify-content: center;
    }

    .navbar {
        grid-template-rows: none;
    }

    .icono, .icono-2 {
        padding: 18px 0px 15px;
    }

    .icono > p {
        font-size: 16pt;
    }

    .icono-2 > p {
        display: none;
    }

    /* Home */

    .portada {
        flex-direction: column;
    }

    .info-portada {
        font-size: 12pt;
        margin: 20px;
        width: 90%;
    }

    .img-portada {
        width: 100%;
    }

    /* Seccion celulares, tablets, laptops*/

    .seccion-celulares, .seccion-tablets, .seccion-laptops, .seccion-contacto {
        margin: 5px 0px 5px;
    }

    .seccion-celulares > h1, .seccion-tablets > h1, .seccion-laptops > h1, .seccion-contacto > h1 {
        margin: 0px;
    }

    .filtros-celulares, .filtros-tablets, .filtros-laptops {
        margin: 0px 10px;
        grid-template-columns: 1fr;
    }

    .resol-1, .cam-1, .memory-1, .grafica-1, .procesadores-1, .ram-1 {
        display: none;
    }

    .resol-2, .cam-2, .memory-2, .grafica-2, .procesadores-2, .ram-2 {
        display: flex;
    }

    .filtros-celulares > label, .filtros-tablets > label, .filtros-laptops > label {
        margin: 5px;
        padding: 10px 3px 5px;
    }

    .card-producto {
        width: 300px;
    }

    .card-image {
        height: 16rem;
    }

    .card-content {
        padding: 0.5rem;
    }

    .card-content > p {
        margin-bottom: 18px;
    }

    .btn-card {
        padding: 0.5rem 0.1rem;
        margin-bottom: 7px;
    }

    .seccion-celulares h1, .seccion-tablets h1, .seccion-laptops h1 {
        font-size: 25pt;
        text-align: center;
    }

    #select-marca, #select-resolucion, #select-camara, #select-almacenamiento, #select-procesador, #select-gpu, #select-ram {
        font-size: 15px;
        padding: 5px 4px;
    }

    /* Contacto */

    .box {
        width: 100%;
        height: 720px;
    }

    .formulario-contacto {
        gap: 1em;
    }

    /* Footer */

    .footer-subs-email {
        justify-content: center;
    }

    .footer-subs-email > input {
        width: 100%;
        font-size: 14px;
        padding: 5px 9px;
    }

    .footer-subs-email > button {
        font-size: 14px;
        padding: 5px 9px;
    }

    .footer-subs {
        text-align: center;
        margin: 0px;
    }

    .footer-subcont-1 {
        font-size: 14px;
        padding: 10px 0px;
    }
    
    .footer-subcont-3 {
        gap: 10px;
        justify-content: center;
    }

    .footer-subcont-3 > small {
        font-size: 14px;
    }
    
    .footer-subcont-2 {
        gap: 10px;
        padding: 8px;
    }

    .footer-subcont-2 section {
        font-size: 14px;
    }

    .footer-subcont-2 .footer-logo {
        margin-bottom: 8px;
        justify-content: center;
    }

    .footer-subcont-2 h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .footer-subcont-2 ul li {
        margin-bottom: 8px;
    }

    .footer-logo svg {
        width: 55px;
        height: 55px;
    }

    /* Prodcuto */

    .seccion-producto {
        margin: 50px 0px 40px;
    }

    .container-producto {
        gap: 0.5rem;
        flex-direction: row;
        width: 85%;
        flex-wrap: wrap;
    }

    .container-imagenes-producto {
        width: 100%;
        height: 400px;
        border-radius: 15px 15px 0px 0px;
    }

    .container-datos-producto {
        width: 100%;
        border-radius: 0px 0px 15px 15px;
        margin: 16px 0px 7px;
        gap: 0.5em;
        font-size: 14px;
    }

    .container-caracteristicas {
        width: 85%;
    }

    .especificaciones > p {
        font-weight: 600;
        font-size: 12pt;
    }

    .especificaciones .title-td {
        text-align: left;
        padding: 5px 0px 5px 5px;
        font-size: 11pt;
        font-size: default;
    }

    .especificaciones .desc-td {
        padding: 5px 0px 5px 5px;
        font-size: 10.5pt;
        font-size: default;
    }

    /* Sobre Nosotros */

    .seccion-sobre-nosotros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 40px 0px 30px;
    }

    .container-personas {
        margin: 20px 10px;
    }

    .container-person {
        margin: 20px 15px;
    }

    .person1, .person2, .person3 {
        flex-direction: column !important;
    }

    .image-person {
        width: 60%;
    }

    .info-person {
        width: 80%;
        padding: 20px 0px;
        text-align: center !important;
    }

    .person2 > .info-person {
        align-items: center;
    }

}

@media screen and (min-width:481px) and (max-width: 1366px) {
    /* Navbar */
    
    .paginas {
        display: flex !important;
        animation: fade-out 0.75s ease-in-out;
    }

    /* Sobre nosotros */

    .container-person {
        max-width: 80%;
    }

    /* Producto */

    .seccion-producto {
        margin: 50px 60px 40px;
    }

}

@media screen and (min-width: 1366px) {
    /* Navbar */
    
    .paginas {
        display: flex !important;
        animation: fade-out 0.75s ease-in-out;
    }

}

@keyframes fade-out {
    0% {
      opacity: 0;
    }

    50% {
        opacity: 0.5;
      }

    100% {
        opacity: 1;
    }
}